@media screen and (max-width:500px) { 
.feature-row .heading-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.banner-slider .banner-text:not(.banner-boxed) {
    max-width: 319px;
    width: 100%;
}
.boxed-w .heading-box span { 
    padding: 4px 0px 4px 0px;
}
.feature-s4.off-text .feature .fbox-photo img, .feature-s5.off-text .feature .fbox-photo img {
    transform: scale(1);
    object-fit: cover;
    object-position: bottom;
}
.call-action .cta-sameline { 
    padding-left: 0px;
}
.copyright {
    background: #131519;
    padding: 5px 0;
}
.site-by, .site-copy {
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.heading-sm-lead, .heading-md-lead {
    color: #034a6b;
    margin-top: 60px;
}
}